body {
    font-family: "Gill sans";
    background: radial-gradient(rgb(76, 78, 74), rgb(80, 80, 80))
}

.btn{
    top: -30px;
    left: 50px;
    font-family: "Gill sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #526070;
    width: 160px;
    padding: 20px;
    text-align: bottom;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    box-shadow: black 20px 10px 50px;
}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    top: 50px;
    left: 50px;
}

.Znake-title{
    color: #fff;
}

.cbtn{
    font-family: "Gill sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #526070;
    width: 160px;
    padding: 20px;
    text-align: bottom;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    box-shadow: black 20px 10px 50px;
    position: absolute;
    top: 85%;
    left: 44.32%;
}
.cbtn:hover, .cbtn:focus, .cbtn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.hide{
    font-family: "Gill sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #526070;
    width: 1500px;
    padding: 20px;
    text-align: bottom;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    box-shadow: black 20px 10px 50px;
    position: absolute;
    top: 50%;
    left: 6%;
}
.hide:hover, .hide:focus, .hide:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.GameOverScreen{
    position: relative;
    text-align: center;
    color: red;
    font-size: x-large;
    visibility: hidden;
    height: 10px;
    top: -350px;
    left: -200px;
}

.GameOverScreen1{
    position: relative;
    text-align: center;
    color: red;
    font-size: x-large;
    visibility: hidden;
    height: 10px;
    top: -350px;
    left: -200px;
}
